
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
}

.color-changer-btn{
    gap:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    
}

button{
    /* background-color: black; */
    color:white;
    padding:2.5px 5px 2.5px 5px;
    margin:20px 20px 30px 30px;
    border: none;
    font-weight: bold;
    font-size: 22px;
    border-radius: 6px;

}

button:hover{
    color:rgb(135, 160, 160);
    background-color: rgb(2, 16, 11);
    pointer-events: painted;
}


.counter{
    color:white;
}